<div class="float-left w-100 p-3 footer">
    <!-- <span>Developed &amp; Maintained by <a href="http://www.oriive.com" target="_blank">Oriive Technologies</a> </span> -->
    <ul>
        <li><a href="#">samarthview@gmail.com</a></li>
        <li>|</li>
        <li>+91 8605965668 | +91 9518361390</li>
    </ul>
    <!-- footer social -->
    <div class="footer-social">
        <ul>
            <li><a href="#" target="_blank"><i class="icon icon-facebook"></i></a></li>
        </ul>
    </div>
</div>
