<!--=============== wrapper ===============-->	
<div class="content-adust">
    <div class="row m-0">
        <div class="col-6 text-center pt-5">
            <div id="myCarousel" class="carousel slide pt-5" data-ride="carousel">
                
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner pt-5">
                    <div class="item carousel-item active pt-5">
                        <p class="testimonial">" I have completed AWS training in Samarthview Technologies.Trainer is very professional and has excellent knowledge of AWS. He taught the concepts in easy way and clarified all the queries in easy to understand manner.Overall it was a great experience."</p>
                        <p class="overview"><b>Rengaraj Veeramalai</b>, IT Manager - 12+ years of experience</p>
                        <p class="overview"><b>Via Sulekha</b></p>
                    </div>
                    <div class="item carousel-item pt-5">
                        <p class="testimonial">" Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. "</p>
                        <p class="overview"><b>Ashwani</b>, Test Engineer - 6+ years of experience</p>
                        <p class="overview"><b>Via Sulekha</b></p>
                    </div>
                    <div class="item carousel-item pt-5">
                        <p class="testimonial">"I have a quality experience of learning the DevOps course at Samarthview Technologies. It is the best professional training Institute in Pune. The best part is they research in depth on industry requirements and course syllabus before launching any program, They have best trainers from IT industries who has all knowledge and they are willing to explain more than specified syllabus. This is to ensure that students get the maximum benefit in terms of professional development/ job hunting. Training are designed to provide real world experience. Samarthview technologies is doing Excellent job. All the est and Keep it up."</p>
                        <p class="overview"><b>Aniket</b>, Test Engineer - 6+ years of experience</p>
                        <p class="overview"><b>Via Sulekha</b></p>
                    </div>
                    <div class="item carousel-item pt-5">
                        <p class="testimonial">"I have a quality experience of learning the DevOps course at Samarthview Technologies. It is the best professional training Institute in Pune. The best part is they research in depth on industry requirements and course syllabus before launching any program, They have best trainers from IT industries who has all knowledge and they are willing to explain more than specified syllabus. This is to ensure that students get the maximum benefit in terms of professional development/ job hunting. Training are designed to provide real world experience. Samarthview technologies is doing Excellent job. All the est and Keep it up."</p>
                        <p class="overview"><b>Kiran Kakde</b>, IT Manager - 12+ years of experience</p>
                        <p class="overview"><b>Via Sulekha</b></p>
                    </div>
                    <div class="item carousel-item pt-5">
                        <p class="testimonial">"The Samarthview technologies is one of the best professional training Institute in Pune. The best part is they research in depth before launching any program, this is to ensure that students get the maximum benefit in terms of professional development/ job hunting. Training and labs are designed to provide real world experience. Excellent job by Samarthview technologies. All the best !!!!!!</p>
                        <p class="overview"><b>Sandeep</b>, Solution Architect - 11+ years of experience</p>
                        <p class="overview"><b>Via Sulekha</b></p>
                    </div>
                    <div class="item carousel-item pt-5">
                        <p class="testimonial">"I have just completed AWS training in Samarthview Technologies.Trainer is very professional and has excellent knowledge of AWS. He taught the concepts in easy way and clarified all the queries in easy to understand manner.Overall it was a great experience."</p>
                        <p class="overview"><b>Pallavi</b>, Dot Net Developer - 2+ years of experience</p>
                        <p class="overview"><b>Via Sulekha</b></p>
                    </div>
                    <div class="item carousel-item pt-5">
                        <p class="testimonial">"Done AWS SysOp training, It was pleasure being there. Learnt lot of things, cleared every aspect of technology. Very highly educated professionals with vast technology experience. Individual candidate, focusing on technical expertise to be leveraged in professional working environment."</p>
                        <p class="overview"><b>Satish Sulke</b>, Network Administrator - 5+ years of experience</p>
                        <p class="overview"><b>Via Sulekha</b></p>
                    </div>
                    <div class="item carousel-item pt-5">
                        <p class="testimonial">"It was a good experience of learning the AWS sysops. Trainer have a good industrial experience and deep working knowledge on AWS. Lab & learning environment is also very good. MOC tests, practical Labs on each topics help me to learn and understand AWS easily."</p>
                        <p class="overview"><b>Babloo</b>, Network Administrator - 7+ years of experience</p>
                        <p class="overview"><b>Via Sulekha</b></p>
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="icon icon-chevron-left"></i>
                </a>
                <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="icon icon-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="custom-inner">
                <div>
                    <h2>Get in Touch</h2>
                    
                    <ul class="contact-list no-dec">
                        <li><b>Address : </b>Samarthview Global Edutech LLP, Vishrantwadi,Shoppers Orbit, A Wing,Office 203, 2nd floor, Above LG Showroom, Visharant Wadi, Pune, Maharashtra 411015</li>
                        <li><b>Phone : </b>+91 7517345173 | +91 8605965668 | +91 9518361390</li>
                        <li><b>E-mail : </b>samarthview@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>