<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="breadcrum position-relative">
                <div class="img-wrapper">
                    <div class="breadcrum-overlay"></div>
                    <img class="img-fluid" src="./assets/images/courses/bg-page.jpg" />
                </div>
                <div class="text-wrapper">
                    <p>UX/UI Designing</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row mt-5">
        <div class="col-12 col-md-9 custom-tab pb-5">
            <nav>
                <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active flex-fill" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">overview</a>
                    <a class="nav-item nav-link flex-fill" id="curriculum-tab" data-toggle="tab" href="#curriculum" role="tab" aria-controls="curriculum" aria-selected="false">Curriculum</a>
                    <a class="nav-item nav-link flex-fill" id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Instructor</a>
                    <a class="nav-item nav-link flex-fill" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Review</a>
                    <a class="nav-item nav-link flex-fill" id="downloads-tab" data-toggle="tab" href="#downloads" role="tab" aria-controls="downloads" aria-selected="false">Downloads</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <h4 class="heading">Course Description</h4>
                    
                    <p>Our curated design program has allowed us to interact with individuals
                        from different education backgrounds and industries, proving that design is
                        everywhere. We continue to thrive in this space and share ourculminated
                        design experience to the world.</p>
                        <p>UX designers who are aware of the process of the User Experience Design
                            Process, seek to create and form the factors influencing the process deliberately. To do this, a UX designer will consider the Why, What, and How of
                            product use. The Why involves the users’ motivations for adopting a
                            product, whether they relate to a task they wish to perform with it, or to
                            values and views associated with the ownership and use of the product. The
                            What addresses the things people can do with a product—its functionality.
                            Finally, the How relates to the design of functionality in an accessible and
                            aesthetically pleasant way. UX design starts from the Why, then determines
                            the What and finally the How in order to create products that users can
                            form meaningful experiences with. This, as not a simple process and intense
                            thought, needs to be paid by a good User Experience Designer due to
                            which most companies are willing to pay a bombshell salary to hire talented
                            User Experience and User Interface designers.</p>
                    <h4 class="heading">What you'll learn</h4>
                    <ul>
                        <li>You will master the aspects of user interface and user experience design through the lens of an artist's workflow and process.</li>
                        <li>You will achieve the experience and knowledge to take your UI/UX skills into your career, job, or freelance lifestyle at your own pace.</li>
                        <li>You will create a real world projects to give you a general understanding of Adobe XD and the different functions that you can do with the application.</li>
                        <li>You will have expert level knowledge of UX/UI Tools & technologies in this course, whether you are a beginner, intermediate or have no previous knowledge of industry.</li>
                        <li>You will be given a major overview of all of tools, features, and workspace so that you can quickly begin working on your next project</li>
                        <li>Graphic designers, web designers, ui/ux designers, developers, and whatever other industry you are in will be able to find useful information in this course.</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">


                    <div id="accordion" class="custom-accordion">
                        <div class="card border-0">
                          <div class="card-header bg-transparent border-0" id="headingOne">
                            <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Graphics Designing Tools
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="timeline-wrapper">
                                    <div class="item-wrapper">
                                        <ul class="has-item">
                                            <li>What is Graphic Design?</li>
                                            <li>What are the tools used for graphic design</li>
                                            <li>Why learn Graphic Designprototype</li>
                                            <li>Scope of Graphic Design</li>
                                            <li>Understanding of Graphics Design Tools</li>
                                            <li>Understanding of various Designing Tools</li>
                                            <li>Understanding Designing Principles</li>
                                            <li>Understanding Deisgn Possibilities </li>
                                            <li>Adobe Photoshop CS6</li>
                                            <li>Adobe Illustrator CS6</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card border-0">
                          <div class="card-header bg-transparent border-0" id="headingTwo">
                            <h5 class="mb-0" data-toggle="collapse" data-target="#UXDesigning" aria-expanded="false" aria-controls="UXDesigning">
                                UX Designing
                            </h5>
                          </div>
                          <div id="UXDesigning" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="timeline-wrapper">
                                    <div class="item-wrapper">
                                        <ul class="has-item">
                                            <li>Introduction</li>
                                            <li>Color Theory, Typography & Icons</li>
                                            <li>UX Designing Process</li>
                                            <li>Prototyping Tools</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card border-0">
                          <div class="card-header bg-transparent border-0" id="accordionThree">
                            <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                UI Designing
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="timeline-wrapper">
                                    <div class="item-wrapper">
                                        <ul class="has-item">
                                            <li>HTML & HTML5</li>
                                            <li>CSS, CSS3 & SCSS</li>
                                            <li>JavaScript & Jquery</li>
                                            <li>Media Query & Bootstrap 4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card border-0">
                          <div class="card-header bg-transparent border-0" id="accordionFour">
                            <h5 class="mb-0" data-toggle="collapse" data-target="#portfolio" aria-expanded="false" aria-controls="portfolio">
                                Portfolio, Resume & Extra
                            </h5>
                          </div>
                      
                          <div id="portfolio" class="collapse show" aria-labelledby="accordionFour" data-parent="#accordion">
                            <div class="card-body">
                                <div class="timeline-wrapper">
                                    <div class="item-wrapper">
                                        <ul class="has-item">
                                            <li>Portfolio on topic decided by individual of group or batch</li>
                                            <li>Resume building guidlines for job searching</li>
                                            <li>Get Together sessions after 2 weeks of completion</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>




                    
                </div>
                <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                    <div class="intructor-details">
                        <div class="photo-wrapper">
                            <img src="./assets/images/instructor/user-round-circle.png" />
                        </div>
                        <div class="text-wrapper">
                            <h4>Akash Patil</h4>
                            <p>Sr. UX/UI Designer</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">

                    <p class="testimonial">" I have completed Advanced UX/UI Designing training in Samarthview Technologies.Trainer is very professional and has excellent knowledge of UX/UI Tools & Technologies. He taught the concepts in easy way and clarified all the queries in easy to understand manner.Overall it was a great experience."</p>
                    <p class="overview mb-0"><b>Rengaraj Veeramalai</b>, IT Manager - 12+ years of experience</p>
                    <p class="overview"><b>Via Sulekha</b></p>
                </div>
                <div class="tab-pane fade" id="downloads" role="tabpanel" aria-labelledby="downloads-tab">
                    <ul class="download-list">
                        <li>
                            <a href="./assets/images/course-download/01 Advanced UXUI Designing.pdf" download>
                                <i class="icon icon-download2"></i>
                                Syllabus for advanced UX UI Designing
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 right-content">
            <div class="all-courses">
                <h4 class="heading">Related Courses</h4>
                <ul>
                    <li>
                        <a class="float-left w-100">Graphics Designing</a>
                    </li>
                    <li>
                        <a class="float-left w-100">UX Designing</a>
                    </li>
                    <li>
                        <a class="float-left w-100">UI Designing</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
