<div class="row m-0 enquery-form">
    <div class="col-12">
        <form action="/action_page.php" class="enquery-form-wrapper">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Full Name" id="email">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Enter Mobile No." id="pwd">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter Full Name" id="email">
            </div>
            <div class="form-group">
                <select class="form-control">
                  <option>Courses 1</option>
                  <option>Courses 2</option>
                  <option>Courses 3</option>
                </select>
            </div>
            <div class="w-100 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
    </div>
</div>